[submodule "dora-rdt-1b/dora_rdt_1b/RoboticsDiffusionTransformer"]
	path = dora-rdt-1b/dora_rdt_1b/RoboticsDiffusionTransformer
	url = https://github.com/thu-ml/RoboticsDiffusionTransformer
[submodule "dora-magma/dora_magma/Magma"]
	path = dora-magma/dora_magma/Magma
	url = https://github.com/microsoft/Magma
